<div class="chat-messages">
    <div
      *ngFor="let message of messages"
      class="message-wrapper"
      [class.user]="message.sender === 'user'"
      [class.agent]="message.sender === 'agent' && !message.isSystem"
      [class.system]="message.isSystem"
    >
      <!-- Agent Avatar (Only for agent messages) -->
      <div 
        class="avatar" 
        *ngIf="message.sender === 'agent' && !message.isSystem"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAJLiRLqi1eaD2iUDLwr5PBlpbmCoOiCZWPqWDh1xKGoNxnLsb4a4_t4xVn21F3dG2o-exhsLLzxcwhyp06o2lLYaiYRuy-m6JuhIy7vKbU_nzoM1XI5mP53ARaNMSOSf1RU9O9_gjlqriwm4o9jW-zFWiM9EDV0C1XW4mhNG13v7qCcR8sWvhdAe5HI_nlYefwxXYTvGoYU-rkSYFdTYSOoBQK7kjggn88Hh6h_338g1dMPeD1vVD7LyZZLgDoPdl_EZgrd4ZjEH4Q");'
      ></div>

      <div class="message-content">
          <div class="sender-info" *ngIf="!message.isSystem">
              {{ message.sender === 'user' ? 'Tú' : 'Agente' }} • {{ message.timestamp | date:'HH:mm' }}
          </div>
          
          <div class="message-bubble" 
               [class.user]="message.sender === 'user'" 
               [class.agent]="message.sender === 'agent'"
               [class.system]="message.isSystem">
              <p>{{ message.content }}</p>
          </div>
      </div>
    </div>

    <!-- Typing Indicator -->
    <div *ngIf="isLoading" class="message-wrapper agent">
       <div 
        class="avatar" 
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAJLiRLqi1eaD2iUDLwr5PBlpbmCoOiCZWPqWDh1xKGoNxnLsb4a4_t4xVn21F3dG2o-exhsLLzxcwhyp06o2lLYaiYRuy-m6JuhIy7vKbU_nzoM1XI5mP53ARaNMSOSf1RU9O9_gjlqriwm4o9jW-zFWiM9EDV0C1XW4mhNG13v7qCcR8sWvhdAe5HI_nlYefwxXYTvGoYU-rkSYFdTYSOoBQK7kjggn88Hh6h_338g1dMPeD1vVD7LyZZLgDoPdl_EZgrd4ZjEH4Q");'
      ></div>
      <div class="message-content">
          <div class="message-bubble agent">
            <div class="typing-indicator">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
      </div>
    </div>
</div>

